.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    background-color: darkolivegreen;
}
.direction:hover{
    background-color: lightyellow;
    color: lightcoral;
}
.LUKA{
    color: tomato;
}
.POPOV{
    color: yellowgreen;
}
table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    color: green;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
tr:nth-child(even){
    background-color: rgb(196, 237, 100);
}
.name:hover{
    text-shadow: 5px 5px 0.5px red;
}



