.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}
.direction:hover{
    background-color: lightyellow;
}
.LUKA{
    color: tomato;
}
.POPOV{
    color: yellowgreen;
}

